html {
	background: linear-gradient(darkslategray, gray) fixed;
	height: 98%;
}

body {
	background: #222;
	color: #ccc;
	max-width: 500px;
	padding: 10px;
	margin-left: 0;
	margin-top: 0;
	height: 98%;
}

a {
	color: #ffff66;
}

h1,h2,h3,h4 {
	border-bottom: 1px dotted;
	max-width: 350px;
}
